
<header>
  
</header>

<h1>Slot Machine</h1>

<div id="slot-machine">
  
	<%= form_for :roll, url: rolls_path, remote: true do |f| %>
		<%= f.submit "SPIN" %>
	<% end %>



  <div id="die">

  	<%= render partial: "die" %>

  </div>
</div>


